<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is about page</title>
</head>
<body>
	<section>
		
		<div class="card mr-3">
			<div class="card-body my-5">
				
				<div class="container text-center">
					
					<img src="" style="height: 200px; width: 200px;" class="my_profile_picture"
						th:src="@{'/image/'+${user.imageUrl}}" alt="profile photo" />
					<h1 class="mt-3 text-seondary font-italic font-weight-light">start adding your contact on cloud...!!</h1>
					
				<a href="#" th:href="@{/user/add-contact}" class="btn btn-primary btn-sm btn-block mt-4 text-uppercase">Add contact</a>
				</div>
			</div>
			
		</div>
	
	</section>
</body>
</html>